 <div class="flex-container">
        <%= render partial: 'users' %>

        <section class="flex-items chat-sec">

              <div class="conv-box d-border">
                <div class="inside-conv">
                    <h4>
                        Welcome to Hedma bot!
                    </h4>

                    <hr/>

                    <p>
                        You can join a room from the sidebar.
                    </p>
                </div>
            </div>

        </section>
</div>